.rsmWidth50px {
    min-width: 50px;
}

.cardImageWrapper {
    position: relative;
    width: 100%;
}

.cardImageWrapper:before {
    content: "";
    display: block;
    padding-top: 50%; /* 高さを幅の60%に固定 */
}

.cardImageContent {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
