.layout {
    position: relative;
}

.layout {
    position: relative;
}

.header {
    position: fixed;
    height: 50px;
}

.main {
    margin-top: 50px;
}

.footer {
    height: 200px;
    bottom: 0;
    left: 0;
}