.card {
    @apply bg-white;
    @apply w-full;
}

/* .head {
    @apply ;
} */

.img {
    @apply overflow-hidden relative rounded-md;
    @apply w-full;
}

.video_aspect {
    --v-aspect-ratio: 16 / 9;
    padding-top: calc((1 / (var(--v-aspect-ratio))) * 100%);
}

.article_aspect {
    --a-aspect-ratio: 4 / 3;
    padding-top: calc((1 / (var(--a-aspect-ratio))) * 100%);
}

.square_aspect {
    --s-aspect-ratio: 1 / 1;
    padding-top: calc((1 / (var(--s-aspect-ratio))) * 100%);
}

@supports (aspect-ratio: 1) {
    .video_aspect,
    .article_aspect,
    .square_aspect {
        padding-top: initial;
    }

    .video_aspect {
        aspect-ratio: var(--v-aspect-ratio);
    }

    .article_aspect {
        aspect-ratio: var(--a-aspect-ratio);
    }

    .square_aspect {
        aspect-ratio: var(--s-aspect-ratio);
    }
}

/* .body {
    @apply ;
} */

.title {
    @apply font-bold text-lg;
    @apply my-5;
}

.description {
    @apply w-full;
    overflow-wrap: break-word;
}
