/**
 * hiroImage
 */
.hiroImage {
    height: 100vh;
    width: 100%;
    background-size: cover;
    padding: calc(20px + 3vw) 6vw;
    display: flex;
    justify-content: end;
    flex-direction: column;
}

.hiroImage__text-wrap {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 6vw;
    position: relative;
    z-index: 1;
}

.hiroImage__title {
    font-size: 8rem;
    font-weight: bold;
    line-height: 1.4;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 0.1em;
}

.hiroImage__text {
    margin-bottom: 20px;
    display: table;
    border-bottom: 1px solid rgba(255, 255, 255, 1);
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.8;
    color: rgba(255, 255, 255, 1);
}

/**
 * profile
 */
.profile {
    min-height: 80vh;
    height: 80vh;
    width: 100%;
    display: flex;
    background-color: rgba(255, 225, 9, 1);
    position: relative;
}

.profile__left {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    max-width: 45%;
    flex-basis: 45%;
    padding: 6vw;
}

.profile__right {
    height: 100%;
    max-width: 55%;
    flex-basis: 55%;
}

.profile__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile__text {
    font-size: 1rem;
    line-height: 2.5;
    font-weight: bold;
}

.profile__partition {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 10.1%;
    /* background-color: red; */
}

.profile__partition::before {
    content: '';
    display: inline-block;
    /* position: absolute;
    left: 0;
    width: 0;
    height: 0; */
    clip-path: polygon(0 0, 0 100%, 100% 100%);
    background: rgba(255, 225, 9, 1);
    height: 100%;
    width: 100%;
    /* border-top: 50% solid transparent;
    border-right: 50% solid transparent;
    border-bottom: 50% solid red;
    border-left: 50% solid red; */
}

@screen rlg {
    .profile {
        flex-direction: column;
    }

    .profile__right,
    .profile__left {
        max-width: 100%;
        flex-basis: 100%;
    }

    .profile__text {
        font-size: 1rem;
        line-height: 2;
    }

    .profile__right {
        height: calc(200px + 50vw);
    }

    .profile__partition {
        display: none;
    }
}

/**
 *section
 */
.section {
}

/**
 * eye catch
 */
.eyeCatch {
    width: 100%;
    height: calc(150px + 20vw);
    position: relative;
}
