.pages {
    width: 100%;
    padding-top: 80px;
}

.pages__div {
    margin: 0 auto 100px;
    width: 85%;
    max-width: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}