.overview {
    border-radius: 3em;
    overflow: hidden;
    width: 100%;
}

.overview__header {
    background: white;  /* default background color */
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overview__header__title {
}

.overview__main {
    width: 100%;
    padding: 40px 0;
    background: white;
}

.overview__main__content {
    width: 80%;
    margin: auto;
}

.overview__main__link {
    width: 80%;
    margin: 50px auto 50px;
    text-align: center;
}
