/**
 * 概要スタイル
 */
.overview {
    @apply relative;
    max-width: 1200px;
    margin: auto;
}

.overview__content {
    @apply flex flex-col gap-3;
}

.songList__list {
    @apply cursor-pointer px-3 py-2 w-full;
    @apply border border-zinc-400;
    @apply grid items-center;
    grid-template-columns: calc(100% - 40px) 40px;
}

/**
 * 曲情報スタイル
 */

.song {
    @apply flex flex-col gap-1;
}

.song__title {
    @apply text-base;
}

.song__description {
    @apply text-xs text-zinc-700;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.song__tags {
    @apply flex;
    white-space: nowrap;
    max-width: 100%;
    overflow-x: scroll;
    /*スクロールバー非表示（IE・Edge）*/
    -ms-overflow-style: none;
    /*スクロールバー非表示（Firefox）*/
    scrollbar-width: none;
}

/*スクロールバー非表示（Chrome・Safari）*/
.song__tags::-webkit-scrollbar {
    display: none;
}

.song__tag {
    @apply text-zinc-500 text-xs;
    @apply mr-3;
    @apply rounded-full bg-slate-500 text-white px-2 py-1;
}

@screen rsm {
    .songTag__tag {
        font-size: 10px !important;
    }
}

/**
 * searchスタイル
 */

.search {
    @apply w-full flex flex-col gap-5;
}

/**
 * categoryスタイル
 */
.category {
    /*background: rgba();*/
}

.category__section {
}

.category__title {
    margin: 10px;
}

.category__lists {
    @apply flex flex-wrap gap-3;
}

.category__list {
    @apply cursor-pointer;
}

/**
 * errorwrapのスタイル
 */
.errorwrap {
    @apply absolute;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.4);
    top: 0;
    left: 0;
    z-index: 9999;
}

.errorwrap * {
    pointer-events: none;
}

.errorwrap__text {
    @apply text-lg absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
